/* Reset básico */
body,
h1,
h2,
h3,
ul,
li,
p,
form {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

img {
    width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    color: #333;
    overflow-x: hidden;
}

a {
    cursor: pointer;
}

.logoff {
    display: flex;
    align-items: center;
    width: 2rem;
}

.burguer {
    display: none;
    transform: rotate(-90deg);
    font-size: 1.5rem;
    cursor: pointer;
}

@media(width < 700px) {
    .header {
        height: 50px;
    }

    .menu-dashboard {
        display: none;
        flex-direction: column;
        align-items: center;
    }

    .logoff {
        display: none;
    }

    .burguer {
        display: block;
    }

}

/* Botões dos Meses */
#opcoesMes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 1rem;
}

.mes-btn {
    border: none;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 15px 15px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.mes-btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

/* Pseudo elements for icons */
.mes-btn:before {
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;
    -webkit-font-smoothing: antialiased;
}

.cnt-btn {
    background: #344ead;
    color: #fff;
}

.cnt-btn:hover {
    background: #697dc5;
}

.cnt-btn:active {
    background: #152250;
    top: 2px;
}

.selecionado {
    font-size: 15px;
    background: #152250;
    font-weight: bold;
}

.cnt-btn:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 60px;
}

/* Conteúdo da Dashboard */

/* Detalhes do Mês */
#monthDetails {
    max-width: 1080px;
    margin: auto;
    margin-top: 2rem;
    padding: 2rem;
    background-color: #fff;
    border-radius: 8px;
}

#monthDetails h3 {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: capitalize;
}


#month {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

@media (width < 768px) {

    form {
        margin-top: 1rem;
    }

}

#excluirBtn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #c41f14a4;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-decoration: none;
    text-align: center;
    outline: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#excluirBtn:hover {
    background-color: #b71c1c;
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#excluirBtn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#excAll {
    float: inline-end;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #b71c1c;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-decoration: none;
    text-align: center;
    outline: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#excAll:hover {
    background-color: #99170e;
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.tabelasTodos {
    background-color: #f1f1f1d2;
    padding: 15px;
    box-shadow: 3px 4px 10px #0000004d;
}