<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- Bootstrap início -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Bootstrap fim -->
    <script src="https://kit.fontawesome.com/56cccbbade.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="./assets/css/homestyle.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">

</head>

<body>
    <header class="header">
        <nav id="menu" class="navbar navbar-expand-md navbar-transparente bg-primary">
            <div>
                <a href="/index.html#projects" class="navbar-brand"><i class="fa-solid fa-city text-light fa-xl"></i></a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span><i class="fa-solid fa-bars text-light"></i></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul id="menu-dashboard" class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link dashboard-link text-light" data-option="contas">Contas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link dashboard-link text-light" data-option="adicionar">Adicionar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link dashboard-link text-light" data-option="excluir">Excluir</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link dashboard-link text-light" data-option="editar">Editar</a>
                    </li>
                    <li>
                        <a href="/index.html#projects"><i class="fa-solid fa-right-from-bracket text-light fa-xl m-3"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div id="dashboardContent" class="container mt-5"></div>

    <div id="monthDetails"></div>

    <!-- Modal -->
    <div class="modal fade" id="modalRegistraDespesa" tabindex="-1" role="dialog" aria-labelledby="registraDespesaLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header ">
                    <h5 class="modal-title" id="registraDespesaLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modalText">

                </div>
                <div class="modal-footer">
                    <button id="modal-btn" type="button" class="btn" data-dismiss="modal"></button>
                </div>
            </div>
        </div>
    </div>
    <script src="./assets/js/homeScript.js"></script>

</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</html>